[submodule "lib/libcotp"]
	path = lib/libcotp
	url = https://github.com/paolostivanin/libcotp.git
[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "tools/yubikey-manager"]
	path = tools/yubikey-manager
	url = https://github.com/Yubico/yubikey-manager.git
[submodule "tools/yubikey-personalization"]
	path = tools/yubikey-personalization
	url = https://github.com/Yubico/yubikey-personalization.git
[submodule "tools/yubico-piv-tool"]
	path = tools/yubico-piv-tool
	url = https://github.com/Yubico/yubico-piv-tool.git
[submodule "tools/yubioath-flutter"]
	path = tools/yubioath-flutter
	url = https://github.com/Yubico/yubioath-flutter.git
[submodule "tools/yubico-c"]
	path = tools/yubico-c
	url = https://github.com/Yubico/yubico-c.git
[submodule "tools/python-cvc"]
	path = tools/python-cvc
	url = https://github.com/polhenarejos/pycvc.git
