[submodule "lib/libcotp"]
	path = lib/libcotp
	url = https://github.com/paolostivanin/libcotp.git
[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "tools/yubikey-manager"]
	path = tools/yubikey-manager
	url = https://github.com/Yubico/yubikey-manager.git
